<html>
<center>
	<head>
		<h1 style="color:azure;"><em><b>DOWNLOAD FACILITY</b></em></h1>
		<br>
		<br>
		<br>
		<style>
			body{
				background-image: url("https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148865393.jpg?w=740&t=st=1671175813~exp=1671176413~hmac=b7e61456a98c780c2eb65073272c9e3a351cd0a8dc180910e6c426704e1b9720");
                background-repeat: no-repeat;
                background-size: cover;	   		
			}
		</style>
		
	</head>
	
	<body>
			<p style="font-size:25px;">
				<a th:href="@{/api/download}">Export to csv</a>
			</p>
	</body>
</center>

</html>